/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* /generali */

/* intestazione */
header {
  background-color: #0C325A;
  padding-top: 15px;
  line-height: 38px;
}

.container {
  width: 80%;
  margin: auto;
  position:relative;
  margin-bottom: 50px;
}

.container img {
  vertical-align: middle;
}
/* /intestazione */

/* barra di navigazione */
.main-nav, .login-nav{
  display: inline-block;
  margin-left: 50px;
  font-size: 10px;
  vertical-align: middle;
}
.main-nav ul, .login-nav ul {
  list-style: none;
  color: white;
  display: inline-block;
}

.main-nav ul li, .login-nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
}

.main-nav ul li a, .login-nav ul li a {
  text-decoration: none;
  color: white;
  padding:
}

.login-click {
  display: inline-block;
  padding: 1px 20px;
  border: 1px solid white;
  text-align: center;
  border-radius: 5px;
}

.cta {
  display: inline-block;
  padding: 1px 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #7CBB02;
}

.login-nav {
  position: absolute;
  right: 0;
}
/* /barra di navigazione */

/* jumbotron */
.jumbotron {
  height: 60vh;
  position: relative;
}

.jumbotron img {
  height: 100%;
  position: absolute;
  right: -20px;
}

.jumbotron h1{
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  width: 50%;
  top:100px;
  transform: translateY(-50%);
}

.jumbotron a{
  position: absolute;
  color: white;
  line-height: 55px;
  top:220px;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-decoration: none;
}
