/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* /generali */

/* intestazione */
header {
  background-color: #0C325A;
  padding-top: 15px;
  line-height: 38px;
}

.container {
  width: 75%;
  margin: auto;
  position:relative;
}

.container img {
  vertical-align: middle;
}
/* /intestazione */

/* barra di navigazione */

.logo, .main-nav, .login-nav {
  float: left;
}

.logo{
  width: 15%;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: 45%;
}

.login-nav{
  width: 40%;
  text-align: right;
}

.list-inline{
  list-style: none;
}

.list-inline li{
  display: inline-block;
  margin-right: 15px;
}

.main-nav a, .login-nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  padding: 7px 12px;
  min-width: 80px;
  text-align: center;
  line-height: initial;
}

.btn-bordered {
  border: 1px solid white;
}

.btn-green{
  background-color: #7CBB02;
}
/* /barra di navigazione */

/* jumbotron */
.jumbotron {
  height: 60vh;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-position: 107% 100%;
  background-size: 60%;
  /* overflow: hidden; */
  position: relative;
  margin-top: 50px;
}

.jumbotron img {
  height: 100%;
  position: absolute;
  right: -20px;
}

.jumbotron h1 {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  width: 50%;
  top:100px;
  transform: translateY(-50%);
}

.jumbotron a {
  position: absolute;
  color: white;
  line-height: 55px;
  top:220px;
  padding: 0px 25px;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-decoration: none;
}
/* /jumbotron */

/* interlinea grigia */
.interline {
  background-color: lightgrey;
  height: 20vh;
  text-align: center;
  font-weight: 300;
  position: relative;
}

.interline-text {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
  font-weight: 400;
}

.interline-text p {
  margin-top: 10px;
  color: grey;
}
/* /interlinea grigia */

/* sezione caratteristiche */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.col {
  text-align: center;
  padding: 30px 10px;
  width: calc(100%/3);
  float: left;
}

.col img {
  height: 25vh;
  padding: 10px;
}

.col h3 {
  color: #7CBB02;
  font-size: 24px;
  padding: 10px;
  font-weight: 400;
}

.col hr {
  background-color: lightgrey;
  width: 30%;
  margin: auto;
}

.col p {
  color: grey;
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}
/* /sezione caratteristiche */

/* sezione livello iniziale */
.small-col {
  width: 50%;
  margin: 30px 0;
  float: left;
}

.small-col h3 {
  line-height: 45px;
  font-size: 40px;
  padding: 10px;
  font-weight: 500;
}

.small-col p {
  color: grey;
  padding: 10px;
  font-size: 24px;
}

.small-col a {
  padding: 10px;
  color: #76a3fc;
}
