/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* /generali */

/* intestazione */
header {
  background-color: #0C325A;
  padding-top: 15px;
  line-height: 38px;
}

.container {
  width: 80%;
  margin: auto;
  position:relative;
}

.container img {
  vertical-align: middle;
}
/* /intestazione */

/* barra di navigazione */
.main-nav, .login-nav{
  display: inline-block;
  margin-left: 50px;
  font-size: 10px;
  vertical-align: middle;
}
.main-nav ul, .login-nav ul {
  list-style: none;
  color: white;
  display: inline-block;
}

.main-nav ul li, .login-nav ul li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
}

.main-nav ul li a, .login-nav ul li a {
  text-decoration: none;
  color: white;
  padding:
}

.login-click {
  display: inline-block;
  padding: 1px 20px;
  border: 1px solid white;
  text-align: center;
  border-radius: 5px;
}

.cta {
  display: inline-block;
  padding: 1px 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #7CBB02;
}

.login-nav {
  position: absolute;
  right: 0;
}
/* /barra di navigazione */

/* jumbotron */
.jumbotron {
  height: 60vh;
  position: relative;
  margin-top: 50px;
}

.jumbotron img {
  height: 100%;
  position: absolute;
  right: -20px;
}

.jumbotron h1 {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  width: 50%;
  top:100px;
  transform: translateY(-50%);
}

.jumbotron a {
  position: absolute;
  color: white;
  line-height: 55px;
  top:220px;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-decoration: none;
}
/* /jumbotron */

/* interlinea grigia */
.interline {
  background-color: lightgrey;
  height: 20vh;
  text-align: center;
  font-weight: 300;
  position: relative;
}

.interline-text {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
  font-weight: 400;
}

.interline-text p {
  margin-top: 10px;
  color: grey;
}
/* /interlinea grigia */

/* sezione caratteristiche */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.col {
  text-align: center;
  padding: 30px 10px;
  width: calc(100%/3);
  float: left;
}

.col img {
  height: 25vh;
  padding: 10px;
}

.col h3 {
  color: #7CBB02;
  font-size: 24px;
  padding: 10px;
  font-weight: 400;
}

.col hr {
  background-color: lightgrey;
  width: 30%;
  margin: auto;
}

.col p {
  color: grey;
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
}
/* /sezione caratteristiche */

/* sezione livello iniziale */
.small-col {
  width: 50%;
  margin: 30px 0;
  float: left;
}

.small-col h3 {
  line-height: 45px;
  font-size: 40px;
  padding: 10px;
  font-weight: 500;
}

.small-col p {
  color: grey;
  padding: 10px;
  font-size: 24px;
}

.small-col a {
  padding: 10px;
  color: #76a3fc;
}
